.statistics-img{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-9.jpeg);
    min-height: 584px;
}
.statistics .border-left{
    border-left: 2px solid white !important;
}